---
import PlaceCard from '@/components/PlaceCard.astro'
import MainLayout from '../layouts/MainLayout.astro'
import { prisma } from '@/db'

const places = await prisma.place.findMany()

console.log(places)
---

<MainLayout>
  <h1 class='text-gray-100 text-4xl font-extrabold mb-7'>Lugares</h1>

  <div class='grid grid-cols-3 gap-4'>
    <PlaceCard />
    <PlaceCard />
    <PlaceCard />
    <PlaceCard />
    <PlaceCard />
    <PlaceCard />
  </div>
</MainLayout>
